// sidebar category items
.category-advertisement {
    color: #FFB708;
}

.category-search-engine-optimization {
    color: #93FD31;
}

.category-public-relations {
    color: #4324FB;
}

.category-brand {
    color: #a78bfa;
}

.category-content {
    color: #E62CAF;
}

.category-creative {
    color: #8F30E4;
}

.category-copywriting {
    color: #EDFD31;
}

.category-landing-page {
    color: #be123c;
}

.category-referral {
    color: #FCB0F3;
}

.category-retention {
    color: #7FFFD4;
}

.category-sales {
    color: #FF4F00;
}

.category-socials {
    color: #31F1FD;
}

// styling border for blog post cards
.blogPostCard-advertisement {
    border: 8px solid #FFB708; }
    .blogPostCard-advertisement:before, .blogPostCard-advertisement:after {
      display: block;
      position: absolute;
      content: "";
      width: 70%; }
    .blogPostCard-advertisement:before {
      border-bottom: 8px solid #FFB708;
      border-right: 36px solid transparent;
      top: -15px;
      left: -8px; }
    .blogPostCard-advertisement:after {
      border-top: 8px solid #FFB708;
      border-left: 36px solid transparent;
      bottom: -15px;
      right: -8px; 
}

.blogPostCard-advertisement:hover {
  border: 8px solid #18202D; 
  .blogPost_redirect__icon-advertisement {
    background-color: #FFB708;
    border: 2px solid #FFB708;
    rotate: 43deg;
  }

  .redirect__svg-advertisement path {
    stroke: white;
}

}
  .blogPostCard-advertisement:before, .blogPostCard-advertisement:after {
    display: block;
    position: absolute;
    content: "";
    width: 70%; }
  .blogPostCard-advertisement:hover::before {
    border-bottom: 8px solid #18202D;
    border-right: 36px solid transparent;
    top: -15px;
    left: -8px; }
  .blogPostCard-advertisement:hover::after {
    border-top: 8px solid #18202D;
    border-left: 36px solid transparent;
    bottom: -15px;
    right: -8px; 
}

.blogPostCard-socials {
    border: 8px solid #31F1FD; }
    .blogPostCard-socials:before, .blogPostCard-socials:after {
      display: block;
      position: absolute;
      content: "";
      width: 70%; }
    .blogPostCard-socials:before {
      border-bottom: 8px solid #31F1FD;
      border-right: 36px solid transparent;
      top: -15px;
      left: -8px; }
    .blogPostCard-socials:after {
      border-top: 8px solid #31F1FD;
      border-left: 36px solid transparent;
      bottom: -15px;
      right: -8px;  
}

.blogPostCard-socials:hover {
  border: 8px solid #18202D; }
  .blogPostCard-socials:before, .blogPostCard-socials:after {
    display: block;
    position: absolute;
    content: "";
    width: 70%; }
  .blogPostCard-socials:hover::before {
    border-bottom: 8px solid #18202D;
    border-right: 36px solid transparent;
    top: -15px;
    left: -8px; }
  .blogPostCard-socials:hover::after {
    border-top: 8px solid #18202D;
    border-left: 36px solid transparent;
    bottom: -15px;
    right: -8px; 
}

.blogPostCard-socials:hover {
  border: 8px solid #18202D; 
  .blogPost_redirect__icon-socials {
    background-color: #31F1FD;
    border: 2px solid #31F1FD;
    rotate: 43deg;
  }

  .redirect__svg-socials path {
    stroke: white;
  }
}

.blogPostCard-sales {
    border: 8px solid #FF4F00; }
    .blogPostCard-sales:before, .blogPostCard-sales:after {
      display: block;
      position: absolute;
      content: "";
      width: 70%; }
    .blogPostCard-sales:before {
      border-bottom: 8px solid #FF4F00;
      border-right: 36px solid transparent;
      top: -15px;
      left: -8px; }
    .blogPostCard-sales:after {
      border-top: 8px solid #FF4F00;
      border-left: 36px solid transparent;
      bottom: -15px;
      right: -8px;  
}

.blogPostCard-sales:hover {
  border: 8px solid #18202D; }
  .blogPostCard-sales:before, .blogPostCard-sales:after {
    display: block;
    position: absolute;
    content: "";
    width: 70%; }
  .blogPostCard-sales:hover::before {
    border-bottom: 8px solid #18202D;
    border-right: 36px solid transparent;
    top: -15px;
    left: -8px; }
  .blogPostCard-sales:hover::after {
    border-top: 8px solid #18202D;
    border-left: 36px solid transparent;
    bottom: -15px;
    right: -8px; 
}

.blogPostCard-sales:hover {
  border: 8px solid #18202D; 
  .blogPost_redirect__icon-sales {
    background-color: #FF4F00;
    border: 2px solid #FF4F00;
    rotate: 43deg;
  }

  .redirect__svg-sales path {
    stroke: white;
  }
}

.blogPostCard-search-engine-optimization {
    border: 8px solid #93FD31; }
    .blogPostCard-search-engine-optimization:before, .blogPostCard-search-engine-optimization:after {
      display: block;
      position: absolute;
      content: "";
      width: 70%; }
    .blogPostCard-search-engine-optimization:before {
      border-bottom: 8px solid #93FD31;
      border-right: 36px solid transparent;
      top: -15px;
      left: -8px; }
    .blogPostCard-search-engine-optimization:after {
      border-top: 8px solid #93FD31;
      border-left: 36px solid transparent;
      bottom: -15px;
      right: -8px;  
}

.blogPostCard-search-engine-optimization:hover {
  border: 8px solid #18202D; }
  .blogPostCard-search-engine-optimization:before, .blogPostCard-search-engine-optimization:after {
    display: block;
    position: absolute;
    content: "";
    width: 70%; }
  .blogPostCard-search-engine-optimization:hover::before {
    border-bottom: 8px solid #18202D;
    border-right: 36px solid transparent;
    top: -15px;
    left: -8px; }
  .blogPostCard-search-engine-optimization:hover::after {
    border-top: 8px solid #18202D;
    border-left: 36px solid transparent;
    bottom: -15px;
    right: -8px; 
}

.blogPostCard-search-engine-optimization:hover {
  border: 8px solid #18202D; 
  .blogPost_redirect__icon-search-engine-optimization {
    background-color: #93FD31;
    border: 2px solid #93FD31;
    rotate: 43deg;
  }

  .redirect__svg-search-engine-optimization path {
    stroke: white;
  }
}

.blogPostCard-content {
    border: 8px solid #E62CAF; }
    .blogPostCard-content:before, .blogPostCard-content:after {
      display: block;
      position: absolute;
      content: "";
      width: 70%; }
    .blogPostCard-content:before {
      border-bottom: 8px solid #E62CAF;
      border-right: 36px solid transparent;
      top: -15px;
      left: -8px; }
    .blogPostCard-content:after {
      border-top: 8px solid #E62CAF;
      border-left: 36px solid transparent;
      bottom: -15px;
      right: -8px;  
}

.blogPostCard-content:hover {
  border: 8px solid #18202D; }
  .blogPostCard-content:before, .blogPostCard-content:after {
    display: block;
    position: absolute;
    content: "";
    width: 70%; }
  .blogPostCard-content:hover::before {
    border-bottom: 8px solid #18202D;
    border-right: 36px solid transparent;
    top: -15px;
    left: -8px; }
  .blogPostCard-content:hover::after {
    border-top: 8px solid #18202D;
    border-left: 36px solid transparent;
    bottom: -15px;
    right: -8px; 
}

.blogPostCard-content:hover {
  border: 8px solid #18202D; 
  .blogPost_redirect__icon-content {
    background-color: #E62CAF;
    border: 2px solid #E62CAF;
    rotate: 43deg;
  }

  .redirect__svg-content path {
    stroke: white;
  }
}

.blogPostCard-copywriting {
    border: 8px solid #EDFD31; }
    .blogPostCard-copywriting:before, .blogPostCard-copywriting:after {
      display: block;
      position: absolute;
      content: "";
      width: 70%; }
    .blogPostCard-copywriting:before {
      border-bottom: 8px solid #EDFD31;
      border-right: 36px solid transparent;
      top: -15px;
      left: -8px; }
    .blogPostCard-copywriting:after {
      border-top: 8px solid #EDFD31;
      border-left: 36px solid transparent;
      bottom: -15px;
      right: -8px;  
}

.blogPostCard-copywriting:hover {
  border: 8px solid #18202D; }
  .blogPostCard-copywriting:before, .blogPostCard-copywriting:after {
    display: block;
    position: absolute;
    content: "";
    width: 70%; }
  .blogPostCard-copywriting:hover::before {
    border-bottom: 8px solid #18202D;
    border-right: 36px solid transparent;
    top: -15px;
    left: -8px; }
  .blogPostCard-copywriting:hover::after {
    border-top: 8px solid #18202D;
    border-left: 36px solid transparent;
    bottom: -15px;
    right: -8px; 
}

.blogPostCard-copywriting:hover {
  border: 8px solid #18202D; 
  .blogPost_redirect__icon-copywriting {
    background-color: #EDFD31;
    border: 2px solid #EDFD31;
    rotate: 43deg;
  }

  .redirect__svg-copywriting path {
    stroke: white;
  }
}

.blogPostCard-landing-page {
    border: 8px solid #be123c; }
    .blogPostCard-landing-page:before, .blogPostCard-landing-page:after {
      display: block;
      position: absolute;
      content: "";
      width: 70%; }
    .blogPostCard-landing-page:before {
      border-bottom: 8px solid #be123c;
      border-right: 36px solid transparent;
      top: -15px;
      left: -8px; }
    .blogPostCard-landing-page:after {
      border-top: 8px solid #be123c;
      border-left: 36px solid transparent;
      bottom: -15px;
      right: -8px;  
}

.blogPostCard-landing-page:hover {
  border: 8px solid #18202D; }
  .blogPostCard-landing-page:before, .blogPostCard-landing-page:after {
    display: block;
    position: absolute;
    content: "";
    width: 70%; }
  .blogPostCard-landing-page:hover::before {
    border-bottom: 8px solid #18202D;
    border-right: 36px solid transparent;
    top: -15px;
    left: -8px; }
  .blogPostCard-landing-page:hover::after {
    border-top: 8px solid #18202D;
    border-left: 36px solid transparent;
    bottom: -15px;
    right: -8px; 
}

.blogPostCard-landing-page:hover {
  border: 8px solid #18202D; 
  .blogPost_redirect__icon-landing-page {
    background-color: #be123c;
    border: 2px solid #be123c;
    rotate: 43deg;
  }

  .redirect__svg-landing-page path {
    stroke: white;
  }
}

.blogPostCard-retention {
    border: 8px solid #7FFFD4; }
    .blogPostCard-retention:before, .blogPostCard-retention:after {
      display: block;
      position: absolute;
      content: "";
      width: 70%; }
    .blogPostCard-retention:before {
      border-bottom: 8px solid #7FFFD4;
      border-right: 36px solid transparent;
      top: -15px;
      left: -8px; }
    .blogPostCard-retention:after {
      border-top: 8px solid #7FFFD4;
      border-left: 36px solid transparent;
      bottom: -15px;
      right: -8px;  
}

.blogPostCard-retention:hover {
  border: 8px solid #18202D; }
  .blogPostCard-retention:before, .blogPostCard-retention:after {
    display: block;
    position: absolute;
    content: "";
    width: 70%; }
  .blogPostCard-retention:hover::before {
    border-bottom: 8px solid #18202D;
    border-right: 36px solid transparent;
    top: -15px;
    left: -8px; }
  .blogPostCard-retention:hover::after {
    border-top: 8px solid #18202D;
    border-left: 36px solid transparent;
    bottom: -15px;
    right: -8px; 
}

.blogPostCard-retention:hover {
  border: 8px solid #18202D; 
  .blogPost_redirect__icon-retention {
    background-color: #7FFFD4;
    border: 2px solid #7FFFD4;
    rotate: 43deg;
  }

  .redirect__svg-retention path {
    stroke: white;
  }
}

.blogPostCard-brand {
    border: 8px solid #a78bfa; }
    .blogPostCard-brand:before, .blogPostCard-brand:after {
      display: block;
      position: absolute;
      content: "";
      width: 70%; }
    .blogPostCard-brand:before {
      border-bottom: 8px solid #a78bfa;
      border-right: 36px solid transparent;
      top: -15px;
      left: -8px; }
    .blogPostCard-brand:after {
      border-top: 8px solid #a78bfa;
      border-left: 36px solid transparent;
      bottom: -15px;
      right: -8px;  
}

.blogPostCard-brand:hover {
  border: 8px solid #18202D; }
  .blogPostCard-brand:before, .blogPostCard-brand:after {
    display: block;
    position: absolute;
    content: "";
    width: 70%; }
  .blogPostCard-brand:hover::before {
    border-bottom: 8px solid #18202D;
    border-right: 36px solid transparent;
    top: -15px;
    left: -8px; }
  .blogPostCard-brand:hover::after {
    border-top: 8px solid #18202D;
    border-left: 36px solid transparent;
    bottom: -15px;
    right: -8px; 
}

.blogPostCard-brand:hover {
  border: 8px solid #18202D; 
  .blogPost_redirect__icon-brand {
    background-color: #a78bfa;
    border: 2px solid #a78bfa;
    rotate: 43deg;
  }

  .redirect__svg-brand path {
    stroke: white;
  }
}

.blogPostCard-referral {
    border: 8px solid #FCB0F3; }
    .blogPostCard-referral:before, .blogPostCard-referral:after {
      display: block;
      position: absolute;
      content: "";
      width: 70%; }
    .blogPostCard-referral:before {
      border-bottom: 8px solid #FCB0F3;
      border-right: 36px solid transparent;
      top: -15px;
      left: -8px; }
    .blogPostCard-referral:after {
      border-top: 8px solid #FCB0F3;
      border-left: 36px solid transparent;
      bottom: -15px;
      right: -8px;  
}

.blogPostCard-referral:hover {
  border: 8px solid #18202D; }
  .blogPostCard-referral:before, .blogPostCard-referral:after {
    display: block;
    position: absolute;
    content: "";
    width: 70%; }
  .blogPostCard-referral:hover::before {
    border-bottom: 8px solid #18202D;
    border-right: 36px solid transparent;
    top: -15px;
    left: -8px; }
  .blogPostCard-referral:hover::after {
    border-top: 8px solid #18202D;
    border-left: 36px solid transparent;
    bottom: -15px;
    right: -8px; 
}

.blogPostCard-referral:hover {
  border: 8px solid #18202D; 
  .blogPost_redirect__icon-referral {
    background-color: #FCB0F3;
    border: 2px solid #FCB0F3;
    rotate: 43deg;
  }

  .redirect__svg-referral path {
    stroke: white;
  }
}

.blogPostCard-creative {
    border: 8px solid #8F30E4; }
    .blogPostCard-creative:before, .blogPostCard-creative:after {
      display: block;
      position: absolute;
      content: "";
      width: 70%; }
    .blogPostCard-creative:before {
      border-bottom: 8px solid #8F30E4;
      border-right: 36px solid transparent;
      top: -15px;
      left: -8px; }
    .blogPostCard-creative:after {
      border-top: 8px solid #8F30E4;
      border-left: 36px solid transparent;
      bottom: -15px;
      right: -8px;  
}

.blogPostCard-creative:hover {
  border: 8px solid #18202D; }
  .blogPostCard-creative:before, .blogPostCard-creative:after {
    display: block;
    position: absolute;
    content: "";
    width: 70%; }
  .blogPostCard-creative:hover::before {
    border-bottom: 8px solid #18202D;
    border-right: 36px solid transparent;
    top: -15px;
    left: -8px; }
  .blogPostCard-creative:hover::after {
    border-top: 8px solid #18202D;
    border-left: 36px solid transparent;
    bottom: -15px;
    right: -8px; 
}

.blogPostCard-creative:hover {
  border: 8px solid #18202D; 
  .blogPost_redirect__icon-creative {
    background-color: #8F30E4;
    border: 2px solid #8F30E4;
    rotate: 43deg;
  }

  .redirect__svg-creative path {
    stroke: white;
  }
}

.blogPostCard-public-relations {
    border: 8px solid #4324FB; }
    .blogPostCard-public-relations:before, .blogPostCard-public-relations:after {
      display: block;
      position: absolute;
      content: "";
      width: 70%; }
    .blogPostCard-public-relations:before {
      border-bottom: 8px solid #4324FB;
      border-right: 36px solid transparent;
      top: -15px;
      left: -8px; }
    .blogPostCard-public-relations:after {
      border-top: 8px solid #4324FB;
      border-left: 36px solid transparent;
      bottom: -15px;
      right: -8px;  
}

.blogPostCard-public-relations:hover {
  border: 8px solid #18202D; }
  .blogPostCard-public-relations:before, .blogPostCard-public-relations:after {
    display: block;
    position: absolute;
    content: "";
    width: 70%; }
  .blogPostCard-public-relations:hover::before {
    border-bottom: 8px solid #18202D;
    border-right: 36px solid transparent;
    top: -15px;
    left: -8px; }
  .blogPostCard-public-relations:hover::after {
    border-top: 8px solid #18202D;
    border-left: 36px solid transparent;
    bottom: -15px;
    right: -8px; 
}

.blogPostCard-public-relations:hover {
  border: 8px solid #18202D; 
  .blogPost_redirect__icon-public-relations {
    background-color: #4324FB;
    border: 2px solid #4324FB;
    rotate: 43deg;
  }

  .redirect__svg-public-relations path {
    stroke: white;
  }
}

// redirect icon
.blogPost_redirect__icon-advertisement {
    border: 2px solid #FFB708;
    svg {
        color: #FFB708;
    }
}

.blogPost_redirect__icon-socials  {
    border: 2px solid #31F1FD;
    svg {
        color: #31F1FD;
    }
}

.blogPost_redirect__icon-sales  {
    border: 2px solid #FF4F00;
    svg {
        color: #FF4F00;
    }
}

.blogPost_redirect__icon-search-engine-optimization  {
    border: 2px solid #BBF3DD;
    svg {
        color: #BBF3DD;
    }
}

.blogPost_redirect__icon-content  {
    border: 2px solid #E62CAF;
    svg {
        color: #E62CAF;
    }
}

.blogPost_redirect__icon-copywriting  {
    border: 2px solid #EDFD31;
    svg {
        color: #EDFD31;
    }
}

.blogPost_redirect__icon-landing-page  {
    border: 2px solid #be123c;
    svg {
        color: #be123c;
    }
}

.blogPost_redirect__icon-retention  {
    border: 2px solid #7FFFD4;
    svg {
        color: #7FFFD4;
    }
}

.blogPost_redirect__icon-brand  {
    border: 2px solid #a78bfa;
    svg {
        color: #a78bfa;
    }
}

.blogPost_redirect__icon-referral  {
    border: 2px solid #FCB0F3;
    svg {
        color: #FCB0F3;
    }
}

.blogPost_redirect__icon-creative  {
    border: 2px solid #8F30E4;
    svg {
        color: #8F30E4;
    }
}

.blogPost_redirect__icon-public-relations  {
    border: 2px solid #4324FB;
    svg {
        color: #4324FB;
    }
}

// post modal categories background color
.blogCard_taxonomy__advertisement {
  background-color: #FFB708 !important;
  padding-right: 33px !important;
  color: white !important;
  bottom: 0 !important;
}

.blogCard_taxonomy__advertisement::before {
  display: block;
  position: absolute;
  content: "";
  box-sizing: border-box;
  left: -20px;
  top: 0;
  border-right: 20px solid #FFB708 !important;
  border-bottom: 12px solid transparent;
  height: 40px;
}

.blogCard_taxonomy__socials {
  background-color: #31F1FD !important;
  padding-right: 33px !important;
  color: white !important;
  bottom: 0 !important;
}

.blogCard_taxonomy__socials::before {
  display: block;
  position: absolute;
  content: "";
  box-sizing: border-box;
  left: -20px;
  top: 0;
  border-right: 20px solid #31F1FD !important;
  border-bottom: 12px solid transparent;
  height: 40px;
}

.blogCard_taxonomy__sales {
  background-color: #FF4F00 !important;
  padding-right: 33px !important;
  color: white !important;
  bottom: 0 !important;
}

.blogCard_taxonomy__sales::before {
  display: block;
  position: absolute;
  content: "";
  box-sizing: border-box;
  left: -20px;
  top: 0;
  border-right: 20px solid #FF4F00 !important;
  border-bottom: 12px solid transparent;
  height: 40px;
}

.blogCard_taxonomy__search-engine-optimization {
  background-color: #BBF3DD !important;
  padding-right: 33px !important;
  color: white !important;
  bottom: 0 !important;
}

.blogCard_taxonomy__search-engine-optimization::before {
  display: block;
  position: absolute;
  content: "";
  box-sizing: border-box;
  left: -20px;
  top: 0;
  border-right: 20px solid #BBF3DD !important;
  border-bottom: 12px solid transparent;
  height: 40px;
}

.blogCard_taxonomy__content {
  background-color: #E62CAF !important;
  padding-right: 33px !important;
  color: white !important;
  bottom: 0 !important;
}

.blogCard_taxonomy__content::before {
  display: block;
  position: absolute;
  content: "";
  box-sizing: border-box;
  left: -20px;
  top: 0;
  border-right: 20px solid #E62CAF !important;
  border-bottom: 12px solid transparent;
  height: 40px;
}

.blogCard_taxonomy__copywriting {
  background-color: #EDFD31 !important;
  padding-right: 33px !important;
  color: white !important;
  bottom: 0 !important;
}

.blogCard_taxonomy__copywriting::before {
  display: block;
  position: absolute;
  content: "";
  box-sizing: border-box;
  left: -20px;
  top: 0;
  border-right: 20px solid #EDFD31 !important;
  border-bottom: 12px solid transparent;
  height: 40px;
}

.blogCard_taxonomy__landing-page {
  background-color: #be123c !important;
  padding-right: 33px !important;
  color: white !important;
  bottom: 0 !important;
}

.blogCard_taxonomy__landing-page::before {
  display: block;
  position: absolute;
  content: "";
  box-sizing: border-box;
  left: -20px;
  top: 0;
  border-right: 20px solid #be123c !important;
  border-bottom: 12px solid transparent;
  height: 40px;
}

.blogCard_taxonomy__retention {
  background-color: #7FFFD4 !important;
  padding-right: 33px !important;
  color: white !important;
  bottom: 0 !important;
}

.blogCard_taxonomy__retention::before {
  display: block;
  position: absolute;
  content: "";
  box-sizing: border-box;
  left: -20px;
  top: 0;
  border-right: 20px solid #7FFFD4 !important;
  border-bottom: 12px solid transparent;
  height: 40px;
}

.blogCard_taxonomy__brand {
  background-color: #a78bfa !important;
  padding-right: 33px !important;
  color: white !important;
  bottom: 0 !important;
}

.blogCard_taxonomy__brand::before {
  display: block;
  position: absolute;
  content: "";
  box-sizing: border-box;
  left: -20px;
  top: 0;
  border-right: 20px solid #a78bfa !important;
  border-bottom: 12px solid transparent;
  height: 40px;
}

.blogCard_taxonomy__referral {
  background-color: #FCB0F3 !important;
  padding-right: 33px !important;
  color: white !important;
  bottom: 0 !important;
}

.blogCard_taxonomy__referral::before {
  display: block;
  position: absolute;
  content: "";
  box-sizing: border-box;
  left: -20px;
  top: 0;
  border-right: 20px solid #FCB0F3 !important;
  border-bottom: 12px solid transparent;
  height: 40px;
}

.blogCard_taxonomy__creative {
  background-color: #8F30E4 !important;
  padding-right: 33px !important;
  color: white !important;
  bottom: 0 !important;
}

.blogCard_taxonomy__creative::before {
  display: block;
  position: absolute;
  content: "";
  box-sizing: border-box;
  left: -20px;
  top: 0;
  border-right: 20px solid #8F30E4 !important;
  border-bottom: 12px solid transparent;
  height: 40px;
}

.blogCard_taxonomy__public-relations {
  background-color: #4324FB !important;
  padding-right: 33px !important;
  color: white !important;
  bottom: 0 !important;
}

.blogCard_taxonomy__public-relations::before {
  display: block;
  position: absolute;
  content: "";
  box-sizing: border-box;
  left: -20px;
  top: 0;
  border-right: 20px solid #4324FB !important;
  border-bottom: 12px solid transparent;
  height: 40px;
}

.categoriesSidebar_newsletter__img {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.postArrow {
  background-image: url('../assets/images/post-arrow.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.modalPost_thumbnail {
  img {
    min-width: 800px;
    max-height: 240px;
  }
}

.modalContent_sociaMedia {
  width: 32px;
  height: 32px;
}

.modalContent_socialMedia a {
    width: 32px;
    height: 32px;
}

.modalContent_sociaMedia__facebook {
  background-image: url('../assets/images/social-share-facebook.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.modalContent_sociaMedia__twitter {
  background-image: url('../assets/images/social-share-twitter.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.modalContent_sociaMedia__linkedin {
  background-image: url('../assets/images/social-share-linkedin.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.modalContent_sociaMedia__facebook:hover {
  background-image: url('../assets/images/social-share-facebook-hover.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.modalContent_sociaMedia__twitter:hover {
  background-image: url('../assets/images/social-share-twitter-hover.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.modalContent_sociaMedia__linkedin:hover {
  background-image: url('../assets/images/social-share-linkedin-hover.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.categoriesSidebar_newsletter__img:hover {
  .newsletter_image {
    display: none;
  }

  .newsletter_image__hover {
    display: block !important;
  }
}

.menu-item a{
  color: white !important;
}

.newsletterModal_content__warpper p {
	color: #030212 !important;
}

// Blog card redirect icon
.blogPost_redirect__icon {
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  padding: 0.5rem;
}

.blogPost_redirect__svg {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.redirect__svg-advertisement path {
  stroke: #FFB708;
}

.redirect__svg-search-engine-optimization path {
  stroke: #93FD31;
}

.redirect__svg-relations path {
  stroke: #4324FB;
}

.redirect__svg-brand path {
  stroke: #a78bfa;
}

.redirect__svg-content path {
  stroke: #E62CAF;
}

.redirect__svg-creative path {
  stroke: #8F30E4;
}

.redirect__svg-copywriting path {
  stroke: #EDFD31;
}

.redirect__svg-landing-page path {
  stroke: #be123c;
}

.redirect__svg-referral path {
  stroke: #FCB0F3;
}

.redirect__svg-retention path {
  stroke: #7FFFD4;
}

.redirect__svg-sales path {
  stroke:  #FF4F00;
}

.redirect__svg-socials path {
  stroke:   #31F1FD;
}

.ads_text__wrapper {
  text-align: center;
  color: #231F20;
  text-align: center;
  font-family: Unbounded;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
}

.ads_button__wrapper a {
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.blogPostCard_title {
  color: #FFF;
  font-family: Unbounded;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 137.5% */
}

.modal_contentArea__wrapper {
  font-size: 17px;
  line-height: 31px;
}

.sidebarLeft_menu__wrapper ul li {
  margin: 8px 0;
}

.close_mobileCategories__wrapper svg {
  width: 20px;
  height: 25px;
  fill: white;
}

.modalRedirect_close__button svg {
  width: 25px;
  height: 25px;
}

.modalRedirect_close__button {
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}

.newsletterModal_close svg {
  width: 20px;
  height: 25px;
}

.newsletterModal_open svg {
  width: 25px;
  height: 25px;
}

.categories_icon a svg {
  width: 25px;
  height: 25px;
}

.modalPost_close svg {
  width: 20px;
  height: 25px;
  fill: white;
}

.oliver_logo__small {
  width: 50px;
  height: 50px;
}
